<a href="https://colab.research.google.com/github/ajrianop/Python/blob/main/ComputingLibrariesPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scientific computing Libraries in python

We can find some scientific computing libraries as:


1.   Pandas (Data strucutres tools).
2.   Numpy (mathematical objects, as arrays and matrices).
3.   SciPy (provides algorithms for optimization, integration, interpolation, eigenvalue problems, algebraic equations, differential equations, statistics and many other problems)

We can also see somo visualization libraries (to create graphs, a) as:


1.   Matplotlib (to plot)
2.   Seaborn (to plot)

In order to study algorithmic libraries we can see:


1.   Scikit-learn (Machine Learning: regression, classification)
2.   Statsmodels (Explore data, study statisticaly some models and generate statistical tests.)

In order to study or do any project, we have to take into account what kind of file format we have our information. So it is necessary to know what kind of file we deal with. So some kind of format are given by:


1.   .csv  to read pd.read_csv().  to save df.to_csv()
2.   .json to read pd.read_json()  to save df.to_json()
3.   .xlsx  to read pd.read_excel()  to save df.to_excel()
4.   sql to read pd.read_sql  to save df.to_sql()
5.   others

To load some file it is necessary to know the path of the data (dataset) this could by a located at the local store or could be as URL.

## Some useful methods in pandas.

The method df.describe() shows us the count! mean! standard deviation, the quartiles min, 25, 50, 75, max. Other method is given by df.info()

In [ ]:
import seaborn as sb

In [ ]:
df=sb.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
#To get the information of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
#to get some random index in the dataframe
df.sample(4)

     total_bill   tip     sex smoker   day    time  size
76        17.92  3.08    Male    Yes   Sat  Dinner     2
107       25.21  4.29    Male    Yes   Sat  Dinner     2
145        8.35  1.50  Female     No  Thur   Lunch     2
72        26.86  3.14  Female    Yes   Sat  Dinner     2

## Pre-processing data

data cleaning and data wrangling
handle with the information
see the data fotmatting
normalizing the data
data binning
convert categorical values to numbers